# Data Manipulation & Analysis
pandas
numpy
scipy

# Machine Learning & Modeling
scikit-learn
torch
torchvision
shap

# Natural Language Processing
nltk
spacy
beautifulsoup4

# Computer Vision
opencv-python
Pillow

# Data Visualization
matplotlib
seaborn
plotly
streamlit

# Utilities
requests
